*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  background: #0D0D0D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}
